@height-head: 96px;
@height-nav: 106px;
@w-container: 960px;

body {padding: @height-head + @height-nav 0 0;}
header .mobile-nav button:not(.lang) {display: none;}
main {
    margin-left: calc((100vw - @w-container) / 2);

    section > .block {
            padding: 50px calc((100vw - @w-container) / 2) 50px 30px;

            .container {width: 100%; padding-right: 30px;}
        }
    }


@media (min-width:1300px){
    @w-container:1200px;
    
    main {
        margin-left: calc((100vw - @w-container) / 2);

        section > .block {
                padding: 50px calc((100vw - @w-container) / 2) 50px 66px;

                .container {width: 100%; padding-right: 60px;}
            }
        }
}

@media (min-width:1550px) {
    @w-container: 1532px;

    main {
        margin-left: calc((100vw - @w-container) / 2);

        section > .block {
                padding: 50px calc((100vw - @w-container) / 2) 50px 66px;

                .container {width: 100%; padding-right: 60px;}
            }
        }
}