
* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
    outline: none !important;
  }


@font-primary: 'GothamPro';
@color-primary: #001766;
@color-text: #525252;
@color-Hh: #1f1f1f;
@color-bg: #f0f5fb;
@brd-radius: 9px;
@height-head: 63px;
@w-container: 100%;

// mixins
.white-block {
    background: #fff; 
    border-radius: @brd-radius 0 0 @brd-radius;
}

// main styles
body {
    margin: 0; padding: @height-head 0 0;
    background: @color-bg;
    font-family: @font-primary, 'Montserrat', Verdana, Arial, sans-serif;
    font-weight: 300; font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;    
}
header {
    position: fixed; top: 0; left: 0;
    width: 100%; height: @height-head;
    background: @color-primary;
    color: #fff; font-size: 13px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items:center;
        height: 100%;
    }
    .container:before,.container:after {display: none;}
    .logo a {
        display: flex; align-items: flex-start;
        color: #fff; font-family: 'Montserrat', Verdana, Arial, sans-serif; font-size: 11px;
        text-decoration:  none;

        b {
        display: block; width: 41px; height: 50px;
        background: url(../images/logo.svg) no-repeat 0 0;
        background-size: 100%;
        }
    }
}
.box-nav {
    position: fixed; top: @height-head; left: 0;
    width: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        align-items:center;
        height: 100%;
    }
    .container:before,.container:after {display: none;}
}
main > section {
    margin-bottom: 25px;

    .block {.white-block;}
}

