
* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
    outline: none !important;
  }
button {border: none}

@font-primary: 'GothamPro';
@color-primary: #001766;
@color-text: #525252;
@color-Hh: #1f1f1f;
@color-bg: #f0f5fb;
@color-second: #66001d;
@brd-radius: 9px;
@height-head: 63px;
@w-container: 100%;

// mixins
.white-block {
    background: #fff; 
    border-radius: @brd-radius 0 0 @brd-radius;
}
.bxshad {box-shadow: 0 10px 13px rgba(0,52,169,0.13);}
.afbf-decor {display: block; content:""; position: absolute;}

// main styles
body {
    margin: 0; padding: @height-head 0 0;
    background: @color-bg;
    font-family: @font-primary, Verdana, Arial, sans-serif;
    font-weight: 300; font-size: 16px;
    color: @color-text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;    
}
a {
    color: @color-primary;

    &:hover {color: @color-second;}
}
header {
    position: fixed; top: 0; left: 0;
    width: 100%; height: @height-head;
    background: @color-primary;
    color: #fff; font-size: 13px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
    }
    .container:before,.container:after {display: none;}
    .box-logo {
        width: 180px;
        
        .title {display: none}
    }
    .logo a {
        display: block; position: relative;
        padding: 10px 0 0 51px; 
        color: #fff; font-family: 'Montserrat', Verdana, Arial, sans-serif; font-size: 11px;
        text-decoration:  none; line-height: 1.2em;

        &::after {
        content: "";
        display: block; width: 41px; height: 50px;
        position: absolute; top: 0; left: 0;
        background: url(../images/logo.svg) no-repeat 0 0;
        background-size: 100%;
        }
    }
    .box-contact {
        display: none;
        position: absolute; top: @height-head; left: 0;
        background: #fff; width: 100%; padding: 1em;
        color: @color-Hh;

        a {font-size: 120%; font-weight: 400; text-decoration: none;}
    }
    .mobile-nav {
        display: flex; justify-content: flex-end; align-items: center;
        margin-top: 12px;

        button {
            background: #fff; border-radius: 50%;
            width: 37px; height: 37px; color: @color-primary;
            margin-left: 10px;

            &.lang {font-weight: 400;}
        }
    }
    .hamburger {
        padding: 0 8px;
    
        span {
            display: block; margin-bottom: 3px;
            width: 100%; height: 3px; border-radius: 2.5px;
            background: @color-primary; transition: all 0.2s ease;
        }
        span:last-child {margin-bottom: 0px;}
        &.active a {margin-top: -7px;}
        &.active span:nth-of-type(2) {display:none;}
        &.active span:nth-of-type(1) {transform:rotate(45deg) translateX(2px) translateY(2px);}
        &.active span:nth-of-type(3) {transform:rotate(-45deg) translateX(2px) translateY(-2px);}
    }
}

.box-nav {
    position: fixed; top: @height-head; left: 0;
    width: 100%; 
}
@media (max-width: 600px) {
    .box-nav {
        position: fixed; top: @height-head; left: 0;
        width: 100%; max-width: 360px; height: calc(100vh - @height-head);
        overflow: auto; padding: 1.5em 0;
        .bxshad; background: #fff; 
    
    }
    nav {
        font-size: 90%;

        a {
            display: inline-block; position: relative; width: 100%;
            color: @color-Hh; text-decoration:  none; 
        }
        ul {
            list-style: none; margin: 0; padding: 0;
        
            li {
                padding: 0.5em 0;
            }
        }
        & > ul > li > a.selected {
            color: @color-primary; font-weight: 500;

            &::after {
                .afbf-decor;
                top: 0; left: -20px; height: 100%; width: 3px;
                background: @color-primary;
            }
        }
        & > ul > li.has_level2 > a::before {
            .afbf-decor;
            content: ">"; right: 0; top: -6px; height: 26px; width: 26px;
            background: @color-bg; border-radius: 50%;
            font-weight: 300;
            text-align: center; line-height: 26px;
        }
        & > ul > li ul {
            display: none;
            padding-left: 20px; margin-top: 0.5em;

            & ul {font-size: 0.8rem;}
        }
    } 
}
.box-nav .box-auth {
    padding-bottom: 1rem; margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}
.box-nav .user_title {
    display: flex; justify-content: space-between; align-items: center;

    & .user_img {
        flex: 0 0 auto; position: relative;
        width: 57px; height: 57px; line-height: 0; font-size: 0;
        margin-right: 15px;

        img {border-radius: 50%; width: 100%; max-width: 100%;}

        &::after {
            .afbf-decor; bottom: 5px; right: 5px;
            width: 7px; height: 7px;
            border-radius: 50%;
        }
        &.green::after {
            background: #46af00;
        }
    }
    & .user_link {
        flex: 1 1 auto;
        display: flex; flex-direction: column;
        justify-content: center; 

        & .user_name {
            display: block; margin: 0 0 0.2em;
            font-size: 90%; font-weight: 500;
            color: @color-Hh; text-decoration: none;
        }

        & .user_setting {
            display: block; background: none;
            text-align: left; padding: 0;
            font-size: 80%; cursor: pointer;
        }
    }
}
.box-nav .user_menu {
    padding: 0 0 0 72px; font-size: 90%;
    // display: none;

    ul {
        list-style: none; margin: 0; padding: 0;

        li a {
            display: block; padding: 0.5ex 0;
            text-decoration: none; color: @color-Hh;
        }
    }
}
main > section {
    margin-bottom: 25px;

    .block {.white-block;}
}

